.button {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
.unused {
  width: auto;
}
.bar-1 :global(.bar) .bar-2 {
  color: white;
}
:global .page {
  padding: 20px;
}